<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
    <title>
{% block title %}
{% if words and ("/lex/" in request.path or "/view/" in request.path) %}
    {% for code, lemma in words[0].lemmata.items() %}
        {{ lemma.value }} ({{ lemma.language }})
	{% if not loop.last %}/{% endif %}
    {% endfor %}
    {% if "/view/" in request.path %}
        [{{ words[0].id }}]
    {% endif %} • 
{% endif %}Hangor
{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://swis.wmflabs.org/js/signwriting_thin.php"></script>
    <script src="{{ url_for('static',filename='js/hauki.js') }}"></script>
  {% endblock head %}
</head>
<body>
  <nav class="navbar navbar-expand-sm">
    <div class="container mt-3 navbar-content">
    <a href="{{ url_for('index') }}"><span class="navbar-title">Hangor</span></a>
    <ul class="navbar-nav mr-auto">
      <li><a href="{{ url_for('language_browser') }}" class="nav-link">Browse</a></li>
      <li><a href="{{ url_for('new') }}" class="nav-link">New Lexeme</a></li>
    </ul>
    {{ authentication_area() }}</div>
  </nav>
  <main class="container mt-3">
    {% block main %}
    {% endblock main %}
  </main>
  <footer class="container mt-3">
  <hr class="my-4">
  <p>Originally developed as Hauki by <a href="https://www.wikidata.org/wiki/User:Vesihiisi">Alicia Fagerving</a> using <a href="https://github.com/lucaswerkmeister/cookiecutter-toolforge">cookiecutter-toolforge</a>; modified by <a href="https://www.wikidata.org/wiki/User:Mahir256">Mahir256</a>.</p>
  <p><strong>Hangor</strong> is free software available under the GNU General Public License 3.0. Content from <a href="https://wikidata.org">Wikidata</a> is CC0.</p>
  <p><a href="https://www.wikidata.org/wiki/User:Vesihiisi/Hauki">Hauki documentation</a> • <a href="https://gitlab.wikimedia.org/toolforge-repos/hangor">Source code</a></p>
  </footer>
</body>
</html>
