{% block forms_Q9027_Q1084 %}
<table class="grammar template-sv-subst-n-er" width="10" cellspacing="0">
    <tbody>
        <tr>
            <th class="main">Böjningar</i>
            </th>
            <th colspan="2" class="min">Singular
            </th>
            <th colspan="2" class="min">Plural
            </th>
        </tr>
        <tr>
            <th class="main">
            </th>
            <th>Obestämd
            </th>
            <th>Bestämd
            </th>
            <th>Obestämd
            </th>
            <th>Bestämd
            </th>
        </tr>
        <tr>
            <th>Nominativ
            </th>
            <td><span class="b-0">
            {% for form in word.forms["Q110786_Q131105_Q53997857"] %}
                {% include 'lexeme_form_link.html' %}
            {% endfor %}
            </span>
            </td>
            <td><span class="b-">
            {% for form in word.forms["Q110786_Q131105_Q53997851"] %}
                {% include 'lexeme_form_link.html' %}
            {% endfor %}
            </span>
            </td>
            <td><span class="b-">
            {% for form in word.forms["Q131105_Q146786_Q53997857"] %}
                {% include 'lexeme_form_link.html' %}
            {% endfor %}
            </span>
            </td>
            <td><span class="b-">
            {% for form in word.forms["Q131105_Q146786_Q53997851"] %}
                {% include 'lexeme_form_link.html' %}
            {% endfor %}
            </span>
            </td>
        </tr>
        <tr>
            <th>Genitiv
            </th>
            <td><span class="b-">
                {% for form in word.forms["Q110786_Q146233_Q53997857"] %}
                    {% include 'lexeme_form_link.html' %}
                {% endfor %}
            </span>
            </td>
            <td><span class="b-">
                {% for form in word.forms["Q110786_Q146233_Q53997851"] %}
                    {% include 'lexeme_form_link.html' %}
                {% endfor %}
            </span>
            </td>
            <td><span class="b-">
                {% for form in word.forms["Q146233_Q146786_Q53997857"] %}
                    {% include 'lexeme_form_link.html' %}
                {% endfor %}
            </span>
            </td>
            <td><span class="b-">
                {% for form in word.forms["Q146233_Q146786_Q53997851"] %}
                    {% include 'lexeme_form_link.html' %}
                {% endfor %}
            </span>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}