{% extends "base.html" %}
{% block main %}<div class="jumbotron"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Carcharias_gangeticus_Day_187.jpg/320px-Carcharias_gangeticus_Day_187.jpg" class="img-fluid float-right"><h1 class="display-4">হাঙ্গর</h1>  
  <p class="lead">Lots and lots of fish under the sea...</p>
  <hr class="my-4">
  <p>Search for a lexeme (e.g.
  	<a href="{{ url_for('display', lang='bn', word='হৃদয়') }}">হৃদয়<sub>bn</sub></a>,
	<a href="{{ url_for('display', lang='ur', word='جان') }}">جان<sub>ur</sub></a>,
	or
	<a href="{{ url_for('display', lang='sms', word='peiʹvv') }}">peiʹvv<sub>sms</sub></a>), or <a href="{{ url_for('language_browser') }}">select a language to browse</a>.</p>
  {% include "search_bar.html" %}
  <hr class="my-4">
  <h3>Which languages have the most sensed lexemes?</h3>
  <div class="three-columns">
  <ul>
    {% for l in languages[:20] %}
      <li> <a href="{{ url_for('language_browser', lang=l.languageCode.value) }}"> {{ l.languageLabel.value }} ({{ l.number_of_lexemes.value }})</a></li>
    {% endfor %}
  </ul></div>
</div>
{% endblock %}
