{% block lexeme_form_link %}
<span class="representation-group">
{% for code, rep in form.value.items() %}
    <span class="single-representation"><span lang="{{ rep.language }}">{{ rep.value }}</span> <sub>{{ rep.language }}</sub></span>
{% endfor %}
</span>
{% for file in form.audio %}
    <i class="bi-volume-up" onclick="var current_sound = soundManager.createSound({url: 'https://commons.wikimedia.org/wiki/Special:FilePath/{{ file }}'});current_sound.play()"></i>
{% endfor %}
<a href="http://www.wikidata.org/entity/{{ form.id }}" target="_blank">[{{ form.id }}]</a>
{% endblock %}