{% extends "base.html" %}
{% block main %}
    {% include "search_bar.html" %}
    {% for word in words %}
<div class="row lexeme">
    <div class="col">
{# lemmata #}
        <div class="row top_info">
            <div class="col">
                <h1>
                {% for code, lemma in word.lemmata.items() %}
                    <span class="single-representation">
                        <span lang="{{ lemma.language }}">{{ lemma.value }}</span> <sub>{{ lemma.language }}</sub>
                    </span>
                {% endfor %}
                </h1>
            </div>
	    </div>
{# information bar #}
        <div class="row info_bar">
            <div class="col">
                <div>
                <a href="{{ url_for('language_browser', lang=word.language.qid) }}">←</a>
                <a href="http://www.wikidata.org/entity/{{ word.language.qid }}" target="_blank">{{ word.language.label }}</a>
                </div>
                <div>
                    <a href="{{ url_for('language_browser', lang=word.language.qid, pos=word.pos.qid) }}">←</a>
                    <a href="http://www.wikidata.org/entity/{{ word.pos.qid }}" target="_blank">{{ word.pos.label }}</a>
                {% if word.gender %} • {% for g in word.gender %}
    	            <a href="http://www.wikidata.org/entity/{{ g.qid }}" target="_blank">{{ g.label }}</a>
		        {% if not loop.last %} • {% endif %}
		        {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="col text-right">
                <div>
                <a href="http://www.wikidata.org/entity/{{ word.id }}" target="_blank">[{{ word.id }}]</a>
                </div>
                <div>
                {% for property, ids in word.ext_ids.items() %}
                    {% for id in ids %}
                        <a href="{{ id.value }}" target="_blank">({{ id.name }})</a>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
{# forms section #}
            <div class="col forms">
                {% if word.derived_from %}
                    <h3>Derived from</h3>
                    {% if word.derived_from %}
                        {% for der in word.derived_from %}
                            <p>
                            <a href="{{ url_for('display_single', lid=der.lid, interface_language=lang) }}">
                            {% for code, lemma in der.lemmata.items() %}
                                <span class="single-representation">
                                    <span lang="{{ lemma.language }}">{{ lemma.value }}</span> <sub>{{ lemma.language }}</sub>
                                </span>
                            {% endfor %}
                            </a>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if word.combines %}
                    <h3>Combines</h3>
                    <ul>
                    {% for part in word.combines %}
                        <li>
                        <a href="{{ url_for('display_single', lid=part.lid, interface_language=lang) }}">
                        {% for code, lemma in part.lemmata.items() %}
                            <span class="single-representation">
                                <span lang="{{ lemma.language }}">{{ lemma.value }}</span> <sub>{{ lemma.language }}</sub>
                            </span>
                        {% endfor %}
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <h3>Forms</h3>
                <ul>
                {% if word.forms_template != "" %}
                    {% include word.forms_template %}
                {% else %}
                {% for form in word.forms %}
                    {% if form.features|length > 0 %}
                        <li>
                            <span class="features">
                            {% for feature in form.features %}
                                {{ feature }}{% if not loop.last %}, {% endif %}
                            {% endfor %}:
                            </span>
                            {% include 'lexeme_form_link.html' %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </ul>
                <ul>
                    {% if word.forms_template != "" %}
                    {% for form in word.forms[""] %}
                        {% if form.features|length == 0 %}
                            <li>
                            {% for code, rep in form.value.items() %}
                                <span class="single-representation"><span lang="{{ rep.language }}">{{ rep.value }}</span> <sub>{{ rep.language }}</sub></span>
                            {% endfor %}
                            <a href="http://www.wikidata.org/entity/{{ form.id }}" target="_blank">[{{ form.id }}]</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for form in word.forms %}
                        {% if form.features|length == 0 %}
                            <li>
                            {% for code, rep in form.value.items() %}
                                <span class="single-representation"><span lang="{{ rep.language }}">{{ rep.value }}</span> <sub>{{ rep.language }}</sub></span>
                            {% endfor %}
                            <a href="http://www.wikidata.org/entity/{{ form.id }}" target="_blank">[{{ form.id }}]</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
{# senses section #}
            <div class="col senses">
                <h3>Senses</h3>
                <form method="post" class="edit-form">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <ul>
                        {% for sense in word.senses %}
                            <li>
                                <div class="sense-gloss">
                                <span class="representation-group">
                                    <span class="single-representation"><span lang="{{ sense.gloss.language }}">{{ sense.gloss.text }}</span> <sub>{{ sense.gloss.language }}</sub></span>
                                </span>
                                <a href="http://www.wikidata.org/entity/{{ sense.id }}" target="_blank">[{{ sense.id }}]</a>
                                </div>
                            {% for property_id, relations in sense.relations_items.items() %}
                                <div class="sense-relation-set">
                                <h4><a href="http://www.wikidata.org/entity/{{ property_id }}">{{ relations['name'].label }}</a>:</h4>
                                <ul>
                                {% for relation in relations['relations'] %}
                                    <li><a href="http://www.wikidata.org/entity/{{ relation.qid }}">{{ relation.label }}</a> </li>
                                {% endfor %}
                                </ul>
                                </div>
                            {% endfor %}
                            {% for property_id, relations in sense.relations_senses.items() %}
                                <div class="sense-relation-set">
                                <h4><a href="http://www.wikidata.org/entity/{{ property_id }}">{{ relations['name'].label }}</a>:</h4>
                                <ul>
                                {% for relation in relations['relations'] %}
                                    <li><a href="{{ url_for('display_single', lid=relation.lid, interface_language=lang) }}">
                                        <span class="representation-group">
                                        {% for code, rep in relation.lemmata.items() %}
                                            <span class="single-representation"><span lang="{{ rep.language }}">{{ rep.value }}</span> <sub>{{ rep.language }}</sub></span>
                                        {% endfor %}
                                        </span>                
                                    </a> <a href="http://www.wikidata.org/entity/{{ relation.lsid }}">[{{ relation.lsid }}]</a> (<span class="representation-group"><span class="single-representation"><span lang="{{ relation.gloss.language }}">{{ relation.gloss.text }}</span> <sub>{{ relation.gloss.language }}</sub></span></span>)</li>
                                {% endfor %}
                                </ul>
                                </div>
                            {% endfor %}
                            {% for example in sense.examples %}
                                {% include 'usage_example.html' %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if authenticated %}
                        <button type="button" class="btn btn-primary add-sense-button" data-lid="{{ word.id }}", data-lang="{{ lang }}", data-language="{{ word.language }}">Add a sense!</button>
                    {% endif %}
                </form>
                {% if word.examples %}
                    <h3>Examples (not attached to a Sense)</h3>
                    <ul>
                        {% for example in word.examples %}
                            {% include 'usage_example.html' %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    {% endfor %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/soundmanager2/V2.97a.20170601/script/soundmanager2-nodebug-jsmin.min.js"></script>
{% endblock %}
