.navbar {
    background-color: #85144b;
}

.single-representation:not(:last-child)::after{
    content: " / "
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #e5e5e5;
    text-decoration: underline;
}

.navbar-title {
    font-size: 175%;
    margin-right: 1em;
    font-weight: bold;
}

.navbar-content {
    padding: 0;
}

.navbar-text {
  color: lightgray;
}

.top_info h1 {
    text-align: center;
    font-size: 275%;
    max-width: 100%;
}

.info_bar {
    font-size: 150%;
    margin-bottom: 0.5em;
    background-color: #eaeff2;
}

.lexeme {
    margin-bottom: 1em;
}

.top_info {
}

.forms {
    font-size: 90%;
}

.forms ul {
  list-style-type: none;
}


.forms h3 {
    border-bottom: 2px solid #85144b;
}

.features {
    font-variant: small-caps;
}

.senses {
}

.senses h3 {
    border-bottom: 2px solid #85144b;
}

.senses h4 {
    font-size: 1rem;
}

.citation {
    padding-left: 1em;
    font-size: 90%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
.dropdown-menu{
    max-height: 400px;
    overflow-y: auto;
}

.twitter-typeahead .typeahead {
    width: 100%;
}

.search_form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.search_form .btn {
    background-color: #85144b;
    color: white;
    font-weight: bold;
}

.search_form .btn:hover {
    background-color: #7f4762;
}

.filter_bar {
  background-color: #eaeff2;
  padding: 0.5em 0.25em 0.5em 0.25em;
}

.three-columns {
    column-count: 3;
}

footer {
    color: #848484;
    font-size: 75%;
    margin-bottom: 1em;
}

footer p {
    margin-bottom: 0.3em;
}

.addSenseField {
    border: 0;
    outline: 0;
    background-color: #f7f7f7;
    width: 70%;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 6px;
    padding: 0.5em 0.25em 0.5em 0.25em;
}


.alert {
  margin: 0.5em 0 0.5em 0;
}

.edit-form .btn {
  margin: 0.25em;
}

#recently-created-box {
  margin-top: 1em;
  overflow-y: auto;
  max-height: 500px;
}
